

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP");
* {

    box-sizing: border-box;
}



.box {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    
}
.container-login{

  width: 40%;
  height: 30vh;
  border: 1px solid rgba(176,196,222,0.8);
  border-radius: 6px;
  background-color:deepskyblue;
  padding: 40px ;
 
  box-shadow: 2px 2px rgba(176,196,222,0.8);

}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-form span {

    margin: 0 0 1em 0;
    font-family: "Noto Sans JP" ;
    color:  rgba(255,255,255,1);;
    font-size: 1.3em;
    font-style: normal;
}

.login-username {

    margin: 0em 0 1em 0;
    width: 100%;
    height: 4vh;
    border: 2px solid rgba(255,255,255,.1);
    border-radius: 4px;
}
input[type=text]:focus {
    border: 3px solid  #7BB062;
 }

.login-submit {

    width: 8vw;
    height: 4vh;
    background-color:  rgba(255,255,255,0.1);;
    border: 1px solid  rgba(255,255,255,1);;
    border-radius: 4px;
    font-family: "Noto Sans JP" ;
    color:   rgba(255,255,255,1);;
}